extends ./index.pug
block body
  .usa-grid
    .usa-width-one-whole
      h2 Convert        
      form(id='githubconversion')
        div(role='search')
          label(for="input-type-text" Text) URL for GITHUB API JSON (ex: https://api.github.com/orgs/presidential-innovation-fellows/repos)
          input(id="input-type-text" name="jsonurl" type="text")

          button(type='submit')
            span.usa-search-submit-text Convert Github repo listing to schema
        #mappedcontent(style='border: 5px solid;')
              h2  The newly crafted JSON data will appear below:
      hr

                
    script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",  crossorigin="anonymous")    
    script(src='js/uswds.min.js')
    script(src='js/convert.js')
    script(src='js/events.js')
    script(src='js/stopwordsHTML.js')