extends ./index.pug
block body
  .usa-grid
    .usa-width-one-whole
      h2 Get Events Feed        
      form(id='eventsfeed')
        div(role='search')
          label(for="input-type-text" Text) URL for GITHUB API EVENTS JSON (ex: https://api.github.com/repos/department-of-veterans-affairs/vets-website/events)
          input(id="events-url" name="events-url" type="text")

          button(type='submit')
            span.usa-search-submit-text Get events
        #eventscontent(style='border: 5px solid;')
              h2  The newly crafted JSON data will appear below:
      hr

                
    script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",  crossorigin="anonymous")    
    script(src='js/uswds.min.js')
    script(src='js/events.js')
    script(src='js/stopwordsHTML.js')